@import '../../styles/variables.scss';

/* Mixin's */
@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -khtml-border-radius: $radius;
}

.button {
  @include corners(5px);
  background: $base-color;
  color: $white;
  border: solid 1px $white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 18px 10px;
  width: 180px;
  margin: 30px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    @include transition;
    background: $white;
    border: solid 1px $white;
    color: $base-color;
  }
}
